body,p,ul,li,h1,h2,h3,h4,h5,h6,table,td,dl,dd,dt{
    padding:0;
    margin:0;
}
a{
    text-decoration: none;
}
ul{
    list-style: none;
}
/*浮动与清楚浮动*/
.clearfix{
    content:"";
    display:inline-block;
    clear:both;
}
.fl{
    float:left;
}
.fr{
    float:right;
}
.main{
    width:100%;
    background: url("../images/ab_bg.jpg") no-repeat 100% 100%;
    background-size: 100% 100%;
}
.header{
    width:100%;
    text-align: center;
    padding:1% 0;
    background-color:#b9b9bd;
}
.header img{
    width:80%;
}
.mainCont{
    width: 80%;
    background: url(../images/sanjiao.png) no-repeat left top;
    margin: 0 auto;
    background-size: 100%;
    position: relative;
    margin-top: 33px;
    padding-top: 37%;
    padding-bottom: 15%;


}
.bgP{
    width:40%;
    color:#fff;
    font-size: 12px;
    background:#ffc519 ;
    text-align: center;
    position:absolute;
    top: 5%;
    left: 30%;
}
.usP{
    width:100%;
    color:#fff;
    font-size: 30px;
    text-align: center;
    margin-top: -35%;
}
.cont{
   margin:10% 0;
}
.cont p{
    font-size:12px;
    line-height: 25px;
    color:#232323;
    width:95%;
    margin:0 auto;
    text-indent: 5%;
}
/*底部*/
#end{
    padding-top: 20px;
    width: 100%;
    background-color:#4d4948;
    position: relative;
    z-index: 80;
    padding-bottom: 50px;
}

.dh{
    margin-bottom: 10px;
}
.dh div{
    text-align: center;
    display:inline-block;
    border-right: 1px solid white;
}
.dh div:last-of-type{
    border-right: 0px;
}
.dh div:nth-of-type(4){
    border-right: 0px;
}
.dh a{
    color: white;
    text-decoration:none;
    font-size: 12px;
}
.lx{
    width: 65%;
    margin-top: 30px;
    color: white;
    padding-bottom: 20px;
}
.lx span{
    font-size: 16px;
}
.lx img{
    width: 6.25%;
}
.lx div{
    margin-bottom: 10px;
}
.lx p{
    margin-top: 10px;
    font-size: 10px;
}
.wx{
    width: 26.5625%;
    position: absolute;
    color: white;
    bottom: 0%;
    left:65%;
    text-align: center;
    margin-bottom: 60px;
}
.wx img{
    width: 100%;
}
